<row class="footer">
  <columns>
    <spacer size="40"></spacer>
    <center>
      <a class="btn fav" href="#">FAVORITE DRIVER</a>
    </center>
    <spacer size="50"></spacer>
    <center>
      <a class="btn tip" href="#">TIP DRIVER</a>
    </center>
    <spacer size="50"></spacer>
    <center>
      <a class="btn find" href="#">FIND LOST ITEM</a>
    </center>
    <spacer size="50"></spacer>
    <center>
      <a class="btn request" href="#">REQUEST REVIEW</a>
    </center>
    <spacer size="50"></spacer>
    <span class="text-center">Review price in the Lyft app help tab</span>
    <spacer size="35"></spacer>
    <p class="text-center">
      To protect against unauthorized behavior, you may see
      <a href="#">an authorization hold</a> on your bank statement. This is to
      verify your payment method and will not be charged.
    </p>
    <spacer size="25"></spacer>
    <center><a href="#" class="help">Help Center</a></center>
    <spacer size="15"></spacer>
    <span class="text-center receipt">Receipt #1367348129450944518</span>
    <spacer size="15"></spacer>
    <h5 class="text-center">
      We never share your address with your driver after a ride.<br />
      <a href="#">Learn more</a>
      about our commitment to safety.
    </h5>
    <spacer size="5"></spacer>
    <center>
      <a class="links" href="#">© Mapbox</a>
      <a class="links" href="#"> © OpenStreetMap</a>
      <a class="links" href="#">Improve this map</a>
    </center>
    <spacer size="20"></spacer>
    <span class="text-center company">© 2020 Lyft, Inc.</span>
    <spacer size="5"></spacer>
    <h6 class="text-center">
      548 Market St., P.O. Box 68514<br />
      San Francisco, CA 94104<br />
      CPUC ID No. TCP0032513 - P
    </h6>
    <spacer size="20"></spacer>
    <center>
      <a class="driver" href="#">Work at Lyft<br />Become a Driver</a>
    </center>
  </columns>
</row>
